<h1>{{title}}</h1>
<p>Welcome to v2 of {{title}}</p>

<p>Our concept is simple: The World can be hard. It can knock you down and sometimes you can’t find you way back onto your feet. 
    <br> At Inspire, at your fingertips are the words and powerful emotions of mankind’s most inspirational speakers, influencers and humanitarians.
    <br>They’re all here with one mission: to Inspire you, to motivate you, and to remind you of the power of words and the compassion of the human spirit.</p>

<p>That’s not all -- you’ll be able to connect with people from around the world and share your own inspirations. 
    <br>Not a wordsmith? No problem, simply send some of your favorite quotes to help people through the tough times. Because remember:</p>

<p>“You cannot do a kindness too soon, for you never know how soon it will be too late.” -Ralph Waldo Emerson</p>

<div>
    
</div>