<!DOCTYPE html>
<html>
  <head>
    {{!-- <title>{{title}}</title> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="content">
    {{{body}}}
    </div>
    <div class="footer">
    <div class="hotline">
      <div>Hotline</div>
      </div>
    <div class="nav">
      <div>Hello</div>
      <div>World</div>
      </div>
      </div>
  </body>
</html>
