<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
</head>

<body>
  <div class="content">
    {{{body}}}
  </div>
  <div class="footer">
    <div class="hotline">
      <div>Need to talk to someone? National hotline: 1-800-273-8255</div>
    </div>
    <div class="nav">
      <div><a class="navItem" href="#">Your Profile</a></div>
      <div><a class="navItem" href="#">Back to the Start</a></div>
      <div><a class="navItem" href="#">Add A Quote</a></div>
    </div>
  </div>
</body>

</html>