/* * {
  border: 1px solid black;
} */

body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

#inspire-name {
  font-family: 'Great Vibes', Arial, sans-serif;
  font-size: 6rem;
  margin: 2vh 0 0 0;
}

.content{
  min-height: 89vh;
}

.custom-select {
  width: 10%;
  text-align: center;
  padding: 0 0 0 50px;
}

a {
  color: #00B7FF;
}

.footer {
  height: 5vh;
}

.hotline {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 10px 0 0 0;
  font-family: "Calibri", Arial, serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  font-size: 25px;
  margin: 8px 0 0 0;
  padding: 10px 200px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:focus { 
  text-decoration: none;
}

.missionStatement {
  font-size: 1.1rem;
}

.homeQuote {
  font-family: "Merienda", Arial, serif;
  font-size: 20px;
  margin: 0;
}

.howQuestion {
  font-size: 40px;
  font-family: "Dancing Script", Arial, serif;
  margin: 0vh 0;
  color: blue;
}

.emotionContainer {
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
  margin: 1vh 20vw 0vh 20vw;
}

.btn {
  width: 10vw;
  padding: 1rem, .75rem;
  font-size: 1.5rem;
  margin: 1.5vh 2vw;
}

.columnOneText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 50vh;
}

.disappear {
  display: none;
}

.quote-list-container {
  display: flex;
  width: 100vw;
}
.card {
  display: inline-flex;;
  flex-wrap: wrap;
  width: 30vw;
  min-height: 30vh;
  margin: 2vh 0;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.card-path {
  margin: 5vh 1vw 0 1vw;
  font-size: .95rem;
  border: 1px solid black;
  padding: 8px 8px;
}

.user-title, .user-age, .user-sex {
  font-size: 2rem;
  padding: 5px;
  margin: 5px;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 60vh;
  width: 40vw;
  background-color: black;
  padding: 0 2vw;
}

.modal-title {
  font-family: 'Marck Script', Arial, sans-serif;
  font-size: 2.7rem;
  color: white;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-content: space-between;
}
.quote-speaker {
  font-size: 1.5rem;
  color: white;
}
#exampleModal {
  margin: 0 25vw 0 20vh;
}

.createHeader, .userHeader, .quoteListHeader, .newResultHeader {
  font-family: "Dancing Script", Arial, serif;
  font-size: 5rem;
  margin: 2vh 0 0 0;
}

.createHeader {
  margin: 2vh 0 3vh 0;
}

.createPageText, .newSpeaker {
  font-family: "Calibri", Arial, serif;
  font-size: 1.65rem;
}

.newQuoteContent, .newQuoteSpeaker, .newQuoteFeeling {
  font-size: 1.5rem;
  color: blue;
  margin: 4vh 0;
}

.newQuoteContent {
  margin: 10vh 0 0 0;
}

.newQuoteCreateButton {
  font-size: 1.5rem;
  padding: 1.5vh;
}

.newContent {
  font-size: 3rem;
  font-family: 'Marck Script', Arial, sans-serif;
}