/* * {
  border: 1px solid black;
} */

body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.content {
  min-height: 90vh;
  /* align-content: center; */
}

.custom-select {
  width: 10%;
  text-align: center;
  padding: 0 0 0 50px;
}

a {
  color: #00B7FF;
}

.footer {
  height: 5vh;
}

.hotline {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 10px 0 0 0;
  font-family: "Calibri", Arial, serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  font-size: 25px;
  margin: 8px 0 0 0;
  padding: 10px 200px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:focus { 
  text-decoration: none;
}

.missionStatement {
  font-size: 15px;
}

.homeQuote {
  font-family: "Merienda", Arial, serif;
  font-size: 20px;
}

.howQuestion {
  font-size: 40px;
  font-family: "Dancing Script", Arial, serif;
  margin: 25px 0;
  color: blue;
}

.emotionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh 20vw 0px 20vw;
  font-size: 30px;
}

.columnOne {
  display: flex;
  margin: 0;
}

.columnTwo {
  display: flex;
  margin: 0 0 0 6vw;
}

.columnOneText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
  margin: 0 25px 0 80px;
}

.columnTwoText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
  margin: 0 0 0 25px;
}

.emotionImage {
  margin: 10px 0;
  padding: 0;
}

.disappear {
  display: none;
}