{{!-- Used for development, not linked for public use --}}

Here are all of the feelings available

{{#each feeling}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
  </div>
</div>
{{/each}}