
<h2>Edit This Quote!</h2>
	<a href="/">Return to Home Page</a>
	<div id="edit-form" class="quote-container-show">
    <form action="/quote/{{quote._id}}?_method=PATCH" method="POST">
      <div>
        <label for="content">Content: </label>
        <input type="text" name="content" value="{{quote.content}}">
      </div>
      <div>
        <label for="speaker">Speaker: </label>
        <input type="text" name="speaker" value="{{quote.speaker}}">
      </div>
      <button type="submit">Submit this updated Quote</button>
    </form>
	</div>