<main>
	<h2>Handmade, Fresh, Daily!</h2>

    {{#each quotes}}
			<div class="quote-container">
				<h3>
          <a href="/{{_id}}">
            {{name}}
          </a>
</h3>

			</div>
    {{/each}}

</main>