<main>
	<h1 class="quoteListHeader">Here are all your Quotes!</h1>

    {{#each quotes}}
			<div class="quote-container">
				<h3>
          <a href="/{{_id}}">
            {{name}}
          </a>
</h3>

			</div>
    {{/each}}

</main>