<h1 class="quoteListHeader">
  Here are all of the quotes available
</h1>

<div class="quote-list-container"></div>
{{#each quote}}
  <div class="card cardContent" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">"{{content}}"</h5>
      <h6 class="card-speaker">{{speaker}}</h6>
      <a class="card-path" href="/quote/{{_id}}">Edit or Delete this Quote</a>
    </div>
  </div>
{{/each}}
</div>