<main>
  <h2 class="createHeader">Create Your Own Quote!</h2>
  <h5 class="createPageText">Here you can create a brand new quote to be featured on Inspire. 
    <br><br>Simply include the content (no quote marks required!), who said it, and what feeling you think it matches the best.
    <br>After that, hit the create button and it will be added to Inspire.
    <br><br>Made a mistake? No problem! After creating you'll have the option to edit.</h5>

  <div id="edit-form" class="quote-container-show">
    {{!-- Form to submit a new quote --}}
    <form action="/quote" method="POST">
      <div class="newQuoteContent">
        <label for="content">Content: </label>
        <input type="text" name="content">
      </div>
      <div class="newQuoteSpeaker">
        <label for="speaker">Speaker: </label>
        <input type="text" name="speaker">
      </div>
      {{!-- Dropdown menu of available feelings to select from --}}
      <div class="newQuoteFeeling form-group">
    <label for="name">Feeling:</label>
    <select name="feeling" class="custom-select" id="inputGroupSelect01">
    {{#each feeling}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
  </div>
</div>
      <button class="newQuoteCreateButton" type="submit">Create New Quote</button>
    </form>
  </div>
</main>