<main>
    <h2>You've created a quote by:<br><br>
    {{quote.speaker}}</h2>
    <div class="quoteContainer">
        <br>
        <p>
            "{{quote.content}}"
        </p><br>
        <br>
    </div>
    {{!-- edit quote --}}
    <a href="/quote/{{quote._id}}/edit">Edit Your Quote</a>
    <br><br>
    {{!-- Delete quote --}}
    <form action="/quote/{{quote._id}}?_method=DELETE" method="POST">
        <button type="submit">Delete this Quote</button>
    </form>
    <a href="/">Return to Home Page</a>
</main>