<h2 class="newResultHeader">Here's the quote!<br><br></h2>
<p class="newContent">
    "{{quote.content}}"
</p>
<h3 class="newSpeaker">{{quote.speaker}}</h3>
{{!-- edit quote --}}
<a class="card-path" href="/quote/{{quote._id}}/edit">Edit this Quote</a>
<br><br>
{{!-- Delete quote --}}
<form action="/quote/{{quote._id}}?_method=DELETE" method="POST">
    <button class="deleteButton" type="submit">Delete this Quote</button>
</form>
